/* center the grid in the viewport */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ff0099;
  background: rgba(46, 184, 178, .5);
  font-family: Verdana, arial, serif;

  @supports(display: grid) {
    display: block;
  }
}
