.gallery__wrapper {
  display: none;
  padding: 2em;

  @supports (display: grid) {
    display: block;
  }

  > * {
    + * {
      padding-top: 1.5em;
      border-top: 4px solid #ff0099;
    }

    &:last-child {
      padding-bottom: 1.5em;
      border-bottom: 4px solid #ff0099;
    }
  }
}
