// Settings
// Variables
@import "tools/variables/illusion-settings";
@import "../../../../../node_modules/illusion/scss/tools/tools";

/* A visual grid to show if elements are correctly inside the grid */

html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
}

.overlay-grid-container {
  position: absolute; // Fill complete page
  top: 0; // Fill complete page
  right: 0; // Fill complete page
  bottom: 0; // Fill complete page
  left: 0; // Fill complete page
  z-index: 9;
  box-sizing: border-box;
  height: 100%; // Fill complete page
  pointer-events: none; // So we can use devtools on elements behind it when grid is visible
}

.overlay-grid {
  box-sizing: border-box;
  @include container;
  height: 100%;
  overflow: hidden;
  outline: 1px solid rgb(255, 0, 255); // Use outline not to mess with css positioning
}

.overlay-grid-second {
  height: 100%;
}

.overlay-grid-container.alternative-grid {
  .overlay-grid-first {
    @include span(3, $delta);
    @include breakpoint($delta) {
      box-sizing: border-box;
      height: 100%;
      overflow: hidden;
      outline: 1px solid rgb(255, 0, 255); // Use outline not to mess with css positioning
    }
  }

  .overlay-grid-second {
    @include span(9, $delta);
    @include breakpoint($delta) {
      position: static;
      box-sizing: border-box;
      height: 100%;
      overflow: hidden;
      outline: 1px solid rgb(255, 0, 255); // Use outline not to mess with css positioning
    }
  }
}

.overlay-grid__item {
  box-sizing: border-box;
  height: 100%; // Fill complete page
  outline: 1px solid rgb(255, 0, 255); // Use outline not to mess with css positioning

  @include gallery(6, 0 to $alfa--plus);
  @include gallery(3, $alfa--plus to $bravo, $defaults: false);
  @include gallery(2, $bravo to $delta, $defaults: false);
  @include gallery(1, $delta, $defaults: false);
}

.overlay-8pixel {
  box-sizing: border-box;
  @include coverall;
  background-image: repeating-linear-gradient(0deg, rgba(255, 0, 255, .33), rgba(255, 0, 255, .33) 1px, transparent 1px, transparent 8px);
  background-size: 8px 8px;
}
