/* stretch the overlay to cover the available viewport */
.overlay__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* center te image horizontally & vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsla(0, 0%, 0%, 0.6);
  backdrop-filter: blur(5px);
  /* transition the opacity and visibility when the class of .overlay is added on the div container */
  transition: all 0.5s ease-in-out;
  opacity: 0;
  visibility: hidden;

  /* slight delay as the class is added and the overlay is meant to be shown */
  &.overlay {
    transition-delay: 0.2s;
    opacity: 1;
    visibility: visible;
  }

  /* size the image according to both the width and height of the viewport */
  img {
    height: 90vh;
    width: 85vw;
    max-width: 700px;
    object-fit: contain;
  }

  /* absolute position the button in the top right corner of the overlay */
  .button {
    color: inherit;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    background: none;
    border: none;
    padding: 0.25rem;
    fill: currentColor;
    outline-color: currentColor;
    /* transition the opacity on hover/focus */
    opacity: 0.5;
    transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);

    &:hover,
    &:focus {
      opacity: 1;
    }

    svg {
      width: 100%;
      height: 100%;
      display: block;
      pointer-events: none;
    }
  }

  .button__download {
    right: 4rem;
  }
}
