/* A visual grid to show if elements are correctly inside the grid */
html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
}

.overlay-grid-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  box-sizing: border-box;
  height: 100%;
  pointer-events: none;
}

.overlay-grid {
  box-sizing: border-box;
  max-width: 1176px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  height: 100%;
  overflow: hidden;
  outline: 1px solid magenta;
}

.overlay-grid:before, .overlay-grid:after {
  display: table;
  content: " ";
}

.overlay-grid:after {
  clear: both;
}

@media screen and (min-width: 560px) {
  .overlay-grid {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (min-width: 1024px) {
  .overlay-grid {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.overlay-grid-second {
  height: 100%;
}

@media screen and (min-width: 1024px) {
  .overlay-grid-container.alternative-grid .overlay-grid-first {
    width: calc((100% - 96px) / 4);
    margin-left: calc(32px);
    float: left;
  }
  .overlay-grid-container.alternative-grid .overlay-grid-first:first-child {
    margin-left: 0;
  }
  .overlay-grid-container.alternative-grid .overlay-grid-first:last-child {
    margin-right: -1px;
  }
}

@media screen and (min-width: 1024px) {
  .overlay-grid-container.alternative-grid .overlay-grid-first {
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    outline: 1px solid magenta;
  }
}

@media screen and (min-width: 1024px) {
  .overlay-grid-container.alternative-grid .overlay-grid-second {
    width: calc((100% - 10.66667px) / 1.33333);
    margin-left: calc(32px);
    float: left;
  }
  .overlay-grid-container.alternative-grid .overlay-grid-second:first-child {
    margin-left: 0;
  }
  .overlay-grid-container.alternative-grid .overlay-grid-second:last-child {
    margin-right: -1px;
  }
}

@media screen and (min-width: 1024px) {
  .overlay-grid-container.alternative-grid .overlay-grid-second {
    position: static;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    outline: 1px solid magenta;
  }
}

.overlay-grid__item {
  box-sizing: border-box;
  height: 100%;
  outline: 1px solid magenta;
  width: calc((100% - 16px) / 2);
  margin-left: calc(16px);
  margin-bottom: calc(16px);
  float: left;
}

.overlay-grid__item:nth-child(2n) {
  margin-right: -1px;
}

.overlay-grid__item:nth-child(2n+1) {
  margin-left: 0;
  clear: left;
}

.overlay-grid__item:first-child {
  margin-left: 0;
}

@media screen and (min-width: 440px) {
  .overlay-grid__item {
    width: calc((100% - 48px) / 4);
    margin-left: calc(16px);
    margin-bottom: calc(16px);
  }
  .overlay-grid__item:nth-child(n) {
    margin-left: calc(16px);
    margin-right: 0;
    clear: none;
  }
  .overlay-grid__item:nth-child(4n) {
    margin-right: -1px;
  }
  .overlay-grid__item:nth-child(4n+1) {
    margin-left: 0;
    clear: left;
  }
}

@media screen and (min-width: 560px) {
  .overlay-grid__item {
    width: calc((100% - 120px) / 6);
    margin-left: calc(24px);
    margin-bottom: calc(24px);
  }
  .overlay-grid__item:nth-child(n) {
    margin-left: calc(24px);
    margin-right: 0;
    clear: none;
  }
  .overlay-grid__item:nth-child(6n) {
    margin-right: -1px;
  }
  .overlay-grid__item:nth-child(6n+1) {
    margin-left: 0;
    clear: left;
  }
}

@media screen and (min-width: 1024px) {
  .overlay-grid__item {
    width: calc((100% - 352px) / 12);
    margin-left: calc(32px);
    margin-bottom: calc(32px);
  }
  .overlay-grid__item:nth-child(n) {
    margin-left: calc(32px);
    margin-right: 0;
    clear: none;
  }
  .overlay-grid__item:nth-child(12n) {
    margin-right: -1px;
  }
  .overlay-grid__item:nth-child(12n+1) {
    margin-left: 0;
    clear: left;
  }
}

.overlay-8pixel {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: repeating-linear-gradient(0deg, rgba(255, 0, 255, 0.33), rgba(255, 0, 255, 0.33) 1px, transparent 1px, transparent 8px);
  background-size: 8px 8px;
}
